In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('carprices.csv')

In [3]:
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [5]:
dummy =  pd.get_dummies(df['Car Model'])
dummy

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [7]:
dummy = dummy.drop(['Mercedez Benz C class'], axis='columns')

KeyError: "['Mercedez Benz C class'] not found in axis"

In [8]:
dummy

    Audi A5  BMW X5
0         0       1
1         0       1
2         0       1
3         0       1
4         0       1
5         1       0
6         1       0
7         1       0
8         1       0
9         0       0
10        0       0
11        0       0
12        0       0

In [9]:
df = df.drop(['Car Model'], axis='columns')
final = pd.concat([df,dummy], axis='columns')
final.head()

   Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0    69000          18000         6        0       1
1    35000          34000         3        0       1
2    57000          26100         5        0       1
3    22500          40000         2        0       1
4    46000          31500         4        0       1

In [12]:
X = final.drop(['Sell Price($)'], axis=1)
y = final['Sell Price($)']
X.head()

   Mileage  Age(yrs)  Audi A5  BMW X5
0    69000         6        0       1
1    35000         3        0       1
2    57000         5        0       1
3    22500         2        0       1
4    46000         4        0       1

In [13]:
model = LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
model.predict([[45000,4,0,0]])

array([36991.31721061])

In [16]:
model.predict([[86000,7,0,1]])

array([11080.74313219])

In [17]:
model.score(X,y)

0.9417050937281083

In [18]:
import pickle

In [19]:
with open('exercise_model', 'wb') as f:
    pickle.dump(model,f)